{% extends "blog/base.html" %}
{% block content %}
<h2>{{ object.title }}</h2>
<p>{{ object.content }}</p>
<p>Author: {{ object.author.username }} | Published: {{ object.published_date }}</p>

{% if user == object.author %}
  <a href="{% url 'blog:post_update' object.pk %}">Edit</a> |
  <a href="{% url 'blog:post_update_alt' object.pk %}">(Alt URL)</a> |
  <a href="{% url 'blog:post_delete' object.pk %}">Delete</a> |
  <a href="{% url 'blog:post_delete_alt' object.pk %}">(Alt URL)</a>
{% endif %}

<a href="{% url 'blog:post_list' %}">Back to posts</a> |
<a href="{% url 'blog:post_list' %}">Back (Alt URL)</a>
{% endblock %}
